@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-page);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

:root {
  --main-font: "Oswald", "Big Caslon", "sans-serif";
  --default-black: #000000;
  --black1: #444444;
  --black2: #111111;
  --black3: #222222;
  --default-white: #ffffff;
  --background-page: #e5e5e5;
  --green1: rgba(104, 183, 56, 0.85);
  --green2: #68b738;
  --arial: "Arial", "sans-serif", "Verdana";
}

.page .page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  background-color: var(--default-white);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  min-height: 65px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.main-header .main-header__logo-link {
  margin-right: 56px;
}
.main-header .main-header__title-link {
  margin-right: auto;
}
.main-header .main-header__menu-opener {
  width: 24px;
  min-height: 16px;
  box-shadow: inset 0 0 0 3px #83b3d3;
  padding: 0;
  background: none;
  border: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 320px;
}

.motivation {
  position: relative;
  width: 100%;
  background-image: url("../../img/mobile/index/motivation_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 302px;
  z-index: 0;
  padding-top: 27px;
}
.motivation .motivation__title {
  margin: 0;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--default-white);
  margin-bottom: 25px;
}
.motivation .motivation__text {
  display: block;
  margin: 0;
  position: relative;
  z-index: 1;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--default-white);
  margin-bottom: 302px;
}
.motivation .motivation__choose-button {
  box-sizing: content-box;
  width: 192px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 7px 44px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.motivation::before {
  content: "";
  position: absolute;
  background-color: var(--green1);
  width: 320px;
  height: 302px;
  inset: 0;
  z-index: 0;
}

.button {
  background-color: var(--green2);
  color: var(--default-white);
}

.program {
  width: 100%;
  padding: 0 20px;
}
.program .program__list {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.program .program__list-item {
  padding-top: 30px;
  width: 266px;
  padding-left: 20px;
  padding-right: 33px;
}
.program .program__list-title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: var(--default-black);
  margin-bottom: 30px;
}
.program .program__list-text {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: lowercase;
  color: var(--black1);
  margin-bottom: 38px;
}
.program .program__list-link {
  display: block;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  color: var(--default-black);
  margin-bottom: 18px;
}

.specification {
  width: 100%;
  padding: 0 20.5px;
}
.specification .specification__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: var(--default-black);
}
.specification .specification__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.specification .specification__item {
  padding-left: 80px;
}
.specification .specification__item:not(:last-child) {
  margin-bottom: 20px;
}
.specification .specification__description {
  margin: 0;
}

.example {
  width: 100%;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 40px;
}
.example .example__title {
  font-size: 36px;
  line-height: 40px;
  text-align: left;
}
.example .example__text {
  font-family: var(--arial);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--black1);
  margin-bottom: 20px;
}
.example .example__statistic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.example .weight__number {
  display: block;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--default-black);
}
.example .weight__title {
  font-size: 12px;
  line-height: 100%;
  color: var(--black1);
}
.example .time__number {
  display: block;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--default-black);
}
.example .time__title {
  font-size: 12px;
  line-height: 100%;
  color: var(--black1);
}
.example .example__cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--default-black);
  margin-bottom: 40px;
}
.example .example__slider-list {
  padding: 0;
  margin: 0 auto;
}

.fat-cat-logo {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 280px;
  height: 232px;
}

.slider-toggles {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.invite {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.invite-description {
  display: flex;
  padding: 26px 20px;
}
.invite-description .invite-description__info {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black2);
}
.invite-description .invite-description__address {
  font-family: var(--arial);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--black4);
}

.invite-map {
  size: 362px 320px;
}

.main-footer {
  width: 100%;
  min-height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  padding-top: 39px;
  margin: 0 auto;
  min-height: 95px;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  min-height: 63px;
  width: 132px;
  align-items: center;
}
.contacts .contacts__vk {
  margin-right: 24px;
}
.contacts .youtube-link {
  margin-right: 24px;
}

.footer-references {
  display: flex;
  justify-content: space-between;
  min-height: 78px;
  width: 281px;
  align-items: center;
}

.products {
  padding-top: 27px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 324px));
  padding: 0 20px;
}
.products .products__title {
  color: var(--default-black);
  margin: 0;
  min-width: 258px;
  margin-top: 27px;
  margin-bottom: 40px;
}
.products .products__product-cell {
  padding-top: 8px;
  padding-bottom: 11px;
}
.products .products__table {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 14px;
  display: grid;
  grid-template-columns: 140px 142px;
  row-gap: 10px;
}
.products .products__image-wrapper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.products .product__name {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 8px;
}
.products .products__parameters {
  margin: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 12px;
}
.products .products__button {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
  display: block;
  box-sizing: content-box;
  width: 62px;
  height: 20px;
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.products .products__product-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 279px;
  padding-top: 78px;
}
.products .products__product-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black2);
  margin: 0;
  margin-bottom: 8px;
}
.products .products__product-small-talk {
  font-family: var(--arial);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--black1);
  margin: 0;
  margin-bottom: 18px;
}
.products .products__more-button {
  min-width: 280px;
  min-height: 40px;
  margin-bottom: 25px;
  padding: 0;
  background: none;
  border: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black1);
}

.title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.product .product__name {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: var(--black3);
}
.product .products__parameters {
  font-family: var(--arial);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--black1);
}

.additional {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 26px;
}
.additional .additional__title {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  margin: 0;
  color: var(--default-black);
  margin-bottom: 35px;
}
.additional .additional__card {
  min-width: 282px;
  display: flex;
  flex-direction: column;
}
.additional .additional__name {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  color: var(--black3);
  margin-bottom: 13px;
}
.additional .additional__composition {
  display: flex;
  justify-content: space-between;
  font-family: var(--arial);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--black1);
  margin-bottom: 15px;
}
.additional .additional-button {
  display: block;
  box-sizing: content-box;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  min-width: 62px;
  min-height: 20px;
  padding: 10px 109px;
  margin-bottom: 19px;
}
.additional .additional__gift {
  position: relative;
  z-index: 0;
  background-image: url("../../img/mobile/catalog/additional-background.jpg");
  background-repeat: no-repeat;
  min-width: 280px;
  padding-top: 187px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.additional .additional__gift .additional__gift-title {
  width: 100%;
  position: relative;
  margin: 0;
  margin: 0 auto;
  z-index: 1;
  font-family: var(--arial);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 160px;
  line-height: 1;
  text-align: center;
  color: var(--default-white);
}
.additional .additional__gift::before {
  content: "";
  position: absolute;
  background-color: var(--green1);
  inset: 0;
  z-index: 0;
}

.questionnaire {
  width: 100%;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
}
.questionnaire .questionnaire__title {
  margin: 0;
  width: 260px;
  margin-bottom: 38px;
}
.questionnaire .questionnaire__text {
  margin: 0;
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--default-black);
  margin-bottom: 38px;
}
.questionnaire .questionnaire__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.questionnaire .form__contacts {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 23px;
}
.questionnaire .form__contacts-title {
  display: block;
  width: 100%;
  font-size: 24px;
  line-height: 26px;
  color: var(--default-black);
  margin-bottom: 35px;
}
.questionnaire .form__email-text {
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black1);
  margin-bottom: 14px;
}
.questionnaire .form__tel-text {
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black1);
}
.questionnaire .form__comments {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 23px;
}
.questionnaire .form__comments-title {
  font-size: 24px;
  line-height: 26px;
  color: var(--default-black);
  margin-bottom: 37px;
}
.questionnaire .form__comments-text {
  width: 100%;
  min-height: 150px;
}
.questionnaire .form__additional {
  margin: 0;
  padding: 0;
  width: 100%;
}
.questionnaire .form__additional-title {
  font-size: 24px;
  line-height: 26px;
  color: var(--default-black);
  margin-bottom: 34px;
}
.questionnaire .form__additional-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 13px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--default-black);
  margin-bottom: 34px;
}
.questionnaire .form__submit-button {
  min-height: 109px;
  min-width: 280px;
  padding-bottom: 32px;
}
.questionnaire .form__button {
  padding: 0;
  background: none;
  border: 0;
  background-color: var(--green2);
  min-width: 280px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.questionnaire .form__note {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: lowercase;
  color: var(--default-black);
}

.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form .form__fieldset {
  border: 0;
}
.form .form__characteristics {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 13px;
  color: var(--black1);
  padding-bottom: 24px;
}
.form .form__name {
  justify-self: end;
  min-width: 230px;
  min-height: 45px;
}
.form .form__weight {
  justify-self: end;
  min-width: 204px;
  min-height: 45px;
}
.form .form__age {
  justify-self: end;
  min-width: 172px;
  min-height: 45px;
}
.form .form__goal {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 157px;
  padding-top: 22px;
  padding-bottom: 19px;
  color: var(--black2);
}
.form .form__goal-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 13px;
  min-width: 277px;
  min-height: 115px;
}
/*# sourceMappingURL=style.css.map */